#fieldsetLabel{
    text-align: center;
}
/* #same_line{
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: outset;
    border-width: 4px;
    border-radius: 15px;
    width: 50%;
    padding-bottom: 25px;
} */
#same_line{
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: outset;
    border-width: 4px;
    border-radius: 15px;
    width: 400px;
    padding-bottom: 25px;
}
#bloco2 .dados{
    align-content: center;
    align-self: center;
    justify-content: center;
    display: flex;
}
.dados input[type="text"], .dados input[type="password"], 
.dados input[type="number"], .dados input[type="email"]
, .dados input[type="date"], .dados select{
    padding: 3px;
    border: 1px solid #CCC;
    box-shadow: 10px 10px 8px #888;
    border-radius: 8px;
    width: 400px;
    height: 50px;
    font-size: 16px;
    margin-bottom: 3%;
}
#divRadioGenero input[type="radio"], #divCheckboxResponsaveis input[type="checkbox"], 
#divRadioTrabalha input[type="radio"], #divCheckboxTurno input[type="checkbox"], 
#divRadioModulo input[type="radio"]{
    margin-left: 80%;
}
#divGenero, #divTrabalha, #divResponsaveis, #divTurno, #divModulo{
    width: 100%;
    display: flex;
    justify-content: left;
    padding-bottom: 10px;
}
#divCheckboxResponsaveis{
    width: 31%;
}
#divRadioTrabalha{
    width: 46%;
}
#divRadioGenero{
    width: 40%;
}
#divCheckboxTurno{
    width: 46%;
}
#divRadioModulo{
    width: 50%;
}
#labelGenero{
    margin-top: 30px;
    padding-bottom: 20px;
}
.dados input[type="checkbox"]{
    appearance: "textfield";
}
.dados input:focus, .dados select:focus{
    background-color: rgb(221, 218, 218);
    outline: none;
}
select, .dados input[type="checkbox"], .dados input[type="date"]
, .dados input[type="radio"]{
    cursor: pointer;
}
.botao{
    font-size: 24px;
    width: 200px;
    border: 0;
    margin-bottom: 1%;
    border-radius: 8px;
    padding: 1% 1%;
    margin-top: 30px;
    /*text-shadow: 3px 3px 3px rgba(0, 191, 255);*/
}
.botao2{
    font-size: 24px;
    width: 250px;
    border: 0;
    margin-bottom: 1%;
    border-radius: 8px;
    padding: 1% 1%;
    margin-top: 30px;
}
.botao3{
    font-size: 24px;
    width: 150px;
    border: 0;
    margin-bottom: 1%;
    border-radius: 8px;
    padding: 1% 1%;
    margin-top: 30px;
}
#btnLogin{ 
    color: rgb(1, 226, 31);
    background-color: rgb(2, 0, 0);
    box-shadow: 8px 8px 8px rgb(0, 56, 56);
}
#btnSignin{
    color: rgb(248, 232, 3);
    background-color: rgb(2, 0, 0);
    box-shadow: 8px 8px 8px rgb(0, 56, 56);
}
#btnAlterarDados{
    color: rgb(248, 150, 3);
    background-color: rgb(2, 0, 0);
    box-shadow: 8px 8px 8px rgb(0, 56, 56);
}
#btnDeletarConta{
    color: rgb(231, 18, 18);
    background-color: rgb(2, 0, 0);
    box-shadow: 8px 8px 8px rgb(0, 60, 60);
}
#btnEscolherProfessor{
    color: rgb(255, 204, 0);
    background-color: rgb(2, 0, 0);
    box-shadow: 8px 8px 8px rgb(0, 60, 60);
}
#btnBuscar{
    color: rgb(255, 204, 0);
    background-color: rgb(2, 0, 0);
    box-shadow: 8px 8px 8px rgb(0, 60, 60);
}

@media all and (max-width: 500px){
    .dados input[type="text"], .dados input[type="password"], 
    .dados input[type="number"], .dados input[type="email"], 
    .dados input[type="date"], .dados select{
        padding: 0;
        border: 1px solid #CCC;
        box-shadow: 10px 10px 8px #888;
        border-radius: 8px;
        width: 97%;
        height: 50px;
        font-size: 16px;
        margin-bottom: 7%;
    }
}
@media all and (max-width: 420px){
    #same_line{
        width: 100%;
    }
}
@media all and (max-width: 330px){
    #divCheckboxResponsaveis{
        width: 8%;
    }
    #divCheckboxResponsaveis input[type="checkbox"]{
        margin-left: 20%;
    }
    #divRadioGenero{
        width: 30%;
    }
    #divRadioGenero input[type="radio"]{
        margin-left: 70%;
    }
    #divRadioTrabalha{
        width: 40%;
    }
    #divRadioTrabalha input[type="radio"]{
        margin-left: 80%;
    }
}
@media all and (max-width: 255px){
    #divResponsaveis label{
        font-size: 13px;
    }
    #divCheckboxResponsaveis input{
        padding-top: 4px;
    }
    #divCheckboxTurno{
        width: 40%;
    }
    #divCheckboxTurno input[type="checkbox"]{
        margin-left: 80%;
    }
    #divRadioModulo{
        width: 46%;
    }
    #divRadioModulo input[type="radio"]{
        margin-left: 80%;
    }
}
@media all and (max-width: 290px){
    .botao2{
        font-size: 16px;
        width: 150px;
        border: 0;
        margin-bottom: 1%;
        border-radius: 8px;
        padding: 1% 1%;
        margin-top: 30px;
    }
}