#menu{
    width: 100%;
    height: 46px;
    background-color: #222;
    font-family: arial;
    display: flex;
    justify-content: center;
}
#menu ul{
    list-style: none;
    position: relative;
}
#menu ul li{
    width: 150px;
    float: left;
}
#menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #FFF;
}
#menu ul ul{
    position: absolute;
    visibility: hidden;
}
#menu ul li:hover ul{
    visibility: visible;
}
#menu a:hover{
    background-color: #F4F4F4;
    color: #555;
}
#menu ul ul li{
    float: none;
    border-bottom: solid 1px #CCC;
}
#menu ul ul li a{
    background-color: darkblue;
} 
label[for="bt_menu"]{
    padding: 1%;
    background-color: #222;
    color: #FFF;
    text-align: right;
    font-size: 30px;
    cursor: pointer;
    height: auto;
}
label[for="bt_menu"]{
    display: none;
}
#bt_menu{
    display: none;
}
#bt_menu:checked ~ #menu{
    margin-left: 0;
}
#sectionMenuInf #menu ul li ul{
    display: none;
}
@media all and (max-width: 950px){
    #sectionMenuInf{
        display: none;
    }
    label[for="bt_menu"]{
        display: block;
    }
    #bt_menu:checked ~ #menu{
        margin-left: 0;
        height: auto;
    }
    #menu{
        display: block;
        margin-left: -100%;
        transition: all 1s;
        height: 0;
    }
    #menu ul li{
        width: 100%;
        float: none;
    }
    #menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all 4s;
    }
    #menu ul li:hover ul{
        height: auto;
        max-height: 900px;
    }
}